.content__section_name_lead {
  padding: 0 148px;
}

@media screen and (max-width: 1124px) {
  .content__section_name_lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .content__section_name_lead {
    padding: 0;
  }
}

